
@{
    ViewBag.Title = "Report";
    //Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
else if (User.IsInRole("Staff"))
{
    Layout = "~/Views/Shared/_StaffDashboardLayout.cshtml";
}

<script src="~/Content/HtmlToPdf/html2canvas.min.js"></script>
<script src="~/Content/HtmlToPdf/pdfmake.min.js"></script>


<script type="text/javascript">
    function Export() {

        var mywindow = window.open('', '', '');
        mywindow.document.write('<html><head><title>' + document.title + '</title>  ');
        mywindow.document.write('<style>td,th,tr, th,td,table {border-collapse:collapse}  th { font - size: 20px; }  td,th {padding: 5px;  } </style>');
        mywindow.document.write('</head><body >');
        // mywindow.document.write('<h1>' + document.title + '</h1>');
        mywindow.document.write(document.getElementById('ExpenseBody').innerHTML);
        // mywindow.document.write(document.getElementById('bill1').innerHTML);
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();
    }
</script>

<style type="text/css">

    th {
        font-size: 20px;
    }
    td,th {
        padding:5px;
      
    }
   
</style>


<br />
<br />
<div class="card">
    <div class="card-body p-4">

        <div class="col-md-12">

            <div id="ExpenseBody" style="border: 0px solid; height: auto;padding:20px;">


                <h3 class="headings" align="center"> Daily Account Sheet @SEA_Application.Models.GetLocalDateTime.GetLocalDateTimeFunction() </h3>

                <br />

              

                  



                        <table id="DebitTable" border="1" style="float:left" width="50%" >

                            <thead>
                                <tr>
                                    <th style="font-weight:bold;" >Cash In</th>
                                    <th style="text-align:center;font-weight:bold">Amount</th>

                                </tr>



                            </thead>

                            <tbody id="DebitTableBody">
                            </tbody>

                        </table>

               

                 



                        <table id="ExpenseTable" border="1" style="float:right" width="49%" >
                            <thead>

                                <tr>
                                    <th style="font-weight:bold">Expenditure</th>
                                    <th style="text-align:center;font-weight:bold">Amount</th>

                                </tr>



                            </thead>

                            <tbody id="ExpenseTableBody">
                            </tbody>

                        </table>

                    <div style="clear:both"></div>

                </div>
                <br />



            </div>
            <center>
                <input onclick="Export()" type="button" id="btnExport" class="btn btn-primary" name="name" value="Print" />
            </center>
            <br />
        </div>
</div>


        <script>

            $(document).ready(function () {

                $("#PageHeader").html("Daily Account Sheet");

                var TotalDebit = 0;
                var TotalCredit = 0;


                $.ajax({

                    type: "POST",
                    url: "/Expense/DebitRecords",
                    data: {},
                    success: function (result) {


                        TotalDebit = 0;
                        $.each(result, function (index) {

                            var TableRow = "<tr class='blank_row'><td>" + result[index].VoucherDescription + "</td> <td align='right'>" + result[index].VoucherAmount + "&nbsp;&nbsp; </td></tr>"

                            TotalDebit = TotalDebit + parseFloat(result[index].VoucherAmount);

                            // TotalCredit = TotalCredit + parseFloat(result[index].VoucherAmount);


                            // alert(result[index].Date);

                            $('#DebitTableBody').append(TableRow);



                        });

                        var Total = TotalDebit;
                        $('#DebitTableBody').append("<tr id='total'><td  ><b>Total:</b></td>   <td align='right'><b>" + Total + "&nbsp;</b></td></tr>");

                        ExpenseTable();

                    }


                })//end of ajax

                function ExpenseTable() {

                    $.ajax({

                        type: "POST",
                        url: "/Expense/ReportRecords",
                        data: {},
                        success: function (result) {

                            TotalCredit = 0;

                            $.each(result, function (index) {


                                var ste = result[index].Date == Date.now;

                                var TableRow = "<tr class='blank_row'><td>" + result[index].VoucherDescription + "</td> <td align='right'>" + result[index].VoucherAmount + "&nbsp;&nbsp; </td></tr>"

                                TotalCredit = TotalCredit + parseFloat(result[index].VoucherAmount);


                                $('#ExpenseTableBody').append(TableRow);

                            });
                            var Total = TotalCredit;

                            debugger
                            var GrandTotal = TotalDebit - TotalCredit;
                            $('#ExpenseTableBody').append("<tr id='total'><td  ><b>Total exp:</b></td>   <td align='right'><b> " + Total + "&nbsp;&nbsp;</b></td></tr>");

                            $('#ExpenseTableBody').append("<tr><td ><b>Bal:</b></td>   <td align='right'> <b>" + GrandTotal + "&nbsp;&nbsp;</b></td></tr>");


                            EmptyRows();

                        }


                    })//end of ajax

                }
                function EmptyRows() {


                    var ExpenseTableBody = $("#ExpenseTableBody");
                    var DebitTableBody = $("#DebitTableBody");


                    var DebitTableRows = $('#DebitTableBody tr').length;
                    var ExpenseTableRows = $('#ExpenseTableBody tr').length;

                    //alert(DebitTableRows);
                    //alert(ExpenseTableRows);

                    var RowsToAdd = 0;

                    if (DebitTableRows > ExpenseTableRows) {
                        debugger

                        RowsToAdd = DebitTableRows - ExpenseTableRows;

                        //aler(RowsToAdd);


                        for (i = 1; i <= RowsToAdd; i++) {

                            $("#ExpenseTableBody #total").before("<tr class='blank_row' style='height:21px'><td></td><td></td></tr>");

                        }


                    }
                    else if (DebitTableRows < ExpenseTableRows) {
                        debugger
                        RowsToAdd = ExpenseTableRows - DebitTableRows;


                        for (i = 1; i <= RowsToAdd; i++) {
                            $("#DebitTableBody #total").before("<tr  class='blank_row' style='height:21px' ><td></td><td></td></tr>");

                        }


                    }

                    else {

                    }
                }


            })

        </script>
