


@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

else if (User.IsInRole("Cashier"))
{
    Layout = "~/Views/Shared/_CashierDashboardLayout.cshtml";

}
else if (User.IsInRole("BakeryAdmin"))
{

    Layout = "~/Views/Shared/_BakeryAdminDashboardLayout.cshtml";

}

<style>

    * {
        font-size: 14px;
        font-family: Arial;
        font-weight: normal;
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>

<link href="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/style.css" media="screen" rel="stylesheet" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<link href="~/Content/print-receipt-thermal-printer-master/print-receipt-thermal-printer-master/style.css" media="screen" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<div class="card">
    <div class="card-body p-4">


        <div>

            <div class="pull-left">
                <h3 style="color:#00b8ec;display:inline-block">Summary </h3>

                <label>From</label>
                <input type="hidden" id="FromDate">
                <img src="~/Content/Images/calendar.png" id="FromDateTrigger" width="25">

                <label>To</label>

                <input type="hidden" id="ToDate">
                <img src="~/Content/Images/calendar.png" id="ToDateTrigger" width="25">
                <br />
            </div>





            <div class="pull-right">
                <button id="PrintNotes" class="btn btn-primary btn-sm" style="font-size:14px;">Print</button>

            </div>


        </div>


        <br />
        <br />
        <br />


        <div class="form-group">

            <label>Select Customer</label>

            <select style="width:200px;" class="form-control drop" id="CustomerDD" name="CustomerDD" >
                        
            </select>



        </div>

        <div class="table-responsive" id="DivToPrint">

            <h2 style="text-align: center; color: #053f89">Product Order Summary</h2>
            <div id="DateToView">

            </div>

            <table style="border-collapse:collapse;width:100%;padding:10px;" border="1" class="table  table-bordered table-striped table-hover">


                <thead>

                    <tr>
                        <th>Date</th>
                        <th>Order No </th>
                        <th>Customer</th>
                        <th>Cashier</th>

                        <th>Status </th>
                        <th>Total</th>
                        <th>Discount Type</th>
                        <th>Sale Type</th>
                        <th>Discount Percentage %</th>
                        <th>Discount</th>
                        <th>Total Discounted </th>

                        <th class="detailscolumn">Action</th>
                    </tr>
                </thead>

                <tbody id="SaleReport">
                </tbody>

            </table>

        </div>

    </div>
</div>

<script>
    var FromDateGlobal = "";
    var ToDateGlobal = "";

    $(document).ready(function () {

        $("#PageHeader").html("Summary");

        $(".drop").select2();




        var GetDate = new Date();
        // var GetToDate = new Date();


        var FullDateInYYYYMMDD = GetDate.getFullYear() + "-" + (GetDate.getMonth() + 1) + "-" + GetDate.getDate();


        var FulldateInString = GetDate.getDate() + "-" + GetMonthName((GetDate.getMonth() + 1)) + "-" + GetDate.getFullYear();

        FromDateGlobal = FullDateInYYYYMMDD;
        ToDateGlobal = FullDateInYYYYMMDD;

        $("#DateToView").html('<h3><span id="FromDateView"> Summary From: ' + FulldateInString + ' </span><span> to</span> <span id="ToDateView">' + FulldateInString + ' </span></h3>');




        $.ajax({
            type: "POST",
            cache: false,
            url: "/Sales/GetCustomerList",
            processData: false,
            contentType: false,
            success: function (data) {
                var sch = JSON.parse(data);
                console.log(sch);


                var $el = $("#CustomerDD");
                $el.empty();
                if (sch.length > 0) {
                    $el.append($("<option></option>")
                        .attr("value", "All").text('All'));

                    for (i = 0; i < sch.length; i++) {



                        $el.append($("<option></option>")
                            .attr("value", sch[i]).text(sch[i]));


                    }
                }
                else {
                    $el.append($("<option></option>")
                        .attr("value", '').text('Select Customer'));
                }
            }
        });//end of ajax


        $.ajax({
            type: "POST",
            url: "/Sales/GetSaleSummary",
            data: { "FromDate": FullDateInYYYYMMDD, "ToDate": FullDateInYYYYMMDD, "CustomerName" : "All"  },

            success: function (data) {

                $("#SaleReport").html("");

                var GrandTotal = 0;
                var DiscountTotal = 0;
                var GrandTotalDiscounted = 0;
                


                $.each(data, function (index) {


                    var value = new Date(parseInt(data[index].DateTime.replace(/(^.*\()|([+-].*$)/g, '')));
                    var dat = value.getMonth() +
                        1 +
                        "/" +
                        value.getDate() +
                        "/" +
                        value.getFullYear();

                    GrandTotal = GrandTotal + data[index].Total;
                    DiscountTotal = DiscountTotal + data[index].Discount;
                    GrandTotalDiscounted = GrandTotalDiscounted + data[index].DiscountedPrice;

                    var Cashier = data[index].Cashier;
                    if (data[index].Cashier == null) {
                        Cashier = "The_Bismarck";
                    }

                 //   $("#SaleReport").append("<tr> <td >" + dat + "</td><td>" + data[index].OrderNo + "</td> <td>" + data[index].CustomerName + "</td><td>" + data[index].Status + "</td><td>" + data[index].Total + "</td><td>-" + data[index].Discount + "</td><td>" + data[index].DiscountedPrice + "</td> <td class='detailscolumn'><center> <input onclick='OrderDetails(" + data[index].Id + ")' type='button' style='font-size:12px;' class='btn btn-primary  white' value='Details' id='" + data[index].Id + "' ></center></td></tr>");
                    if (data[index].Status == 'Paid') {
                        $("#SaleReport").append("<tr> <td >" + dat + "</td><td>" + data[index].OrderNo + "</td><td>" + data[index].CustomerName + "</td><td>" + Cashier + "</td><td>" + data[index].Status + "</td><td>" + data[index].Total + "</td><td>" + data[index].DiscountType + "</td> <td>" + data[index].SaleType + "</td><td>" + data[index].DiscountPercentage + "%</td><td>-" + data[index].Discount + "</td><td>" + data[index].DiscountedPrice + "</td> <td class='detailscolumn'><center> <input onclick='OrderDetails(" + data[index].Id + ")' type='button' style='font-size:12px;' class='btn btn-primary  white' value='Details' id='" + data[index].Id + "' ></center></td></tr>");
                    }
                    else {
                        $("#SaleReport").append("<tr> <td >" + dat + "</td><td>" + data[index].OrderNo + "</td><td>" + data[index].CustomerName + "</td> <td>" + Cashier + "</td><td>" + data[index].Status + "</td><td>" + data[index].Total + "</td><td>" + data[index].DiscountType + "</td><td>" + data[index].SaleType + "</td><td>" + Math.abs(data[index].DiscountPercentage) + "%</td><td>" + Math.abs(data[index].Discount) + "</td><td>" + data[index].DiscountedPrice + "</td> <td class='detailscolumn'><center> <input onclick='OrderDetails(" + data[index].Id + ")' type='button' style='font-size:12px;' class='btn btn-primary  white' value='Details' id='" + data[index].Id + "' ></center></td></tr>");

                    }
                })

                //$("#SaleReport").append("<tr> <td >Grand Total</td><td></td>  <td></td>  <td></td> <td>" + GrandTotal + "</td><td>-" + DiscountTotal + "</td><td>" + GrandTotalDiscounted + "</td></tr>")


                $("#SaleReport").append("<tr> <td >Grand Total</td> <td></td><td></td> <td></td>   <td></td><td>" + GrandTotal + "</td><td></td><td></td> <td></td> <td>-" + Math.abs(DiscountTotal) + "</td><td>" + GrandTotalDiscounted + "</td></tr>")

                var AllTds = $("td:nth-child(6),td:nth-child(10),td:nth-child(11)");

                for (var i = 0; i < AllTds.length; i++) {

                    var CommaSeparatedValue = numberWithCommas(AllTds[i].innerHTML);

                    AllTds[i].innerHTML = CommaSeparatedValue;
                }


            }
        })


        $("#CustomerDD").change(function () {

          var  CustomerName =   $(this).val();

            SaleSummary(FromDateGlobal, ToDateGlobal, CustomerName )


        })


        $('#FromDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#ToDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });


        $(function () {
            $('#FromDate').datepicker();
            $('#FromDateTrigger').click(function () {

                $('#FromDate').datepicker('show');

            });
        });


        $(function () {
            $('#ToDate').datepicker();
            $('#ToDateTrigger').click(function () {

                $('#ToDate').datepicker('show');

            });
        });



        $("#FromDate").change(function () {


            var FromDate = $(this).val();
            var ToDate = $("#ToDate").val();

            if (FromDate != "" && ToDate != "") {


                var d = new Date(FromDate);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();

                var monthName = GetMonthName(month);

                var FromDateFormat = day + "-" + monthName + "-" + year;


                var d1 = new Date(ToDate);
                var day1 = d1.getDate();
                var month1 = d1.getMonth() + 1;
                var year1 = d1.getFullYear();

                var monthName1 = GetMonthName(month1);

                var ToDateFormat = day1 + "-" + monthName1 + "-" + year1;


                $("#DateToView").html('<h3><span id="FromDateView"> Summary From: ' + FromDateFormat + ' </span><span> to</span> <span id="ToDateView">' + ToDateFormat + ' </span></h3>');

                FromDateGlobal = FromDate;
                ToDateGlobal = ToDate;

              var CustomerValue =   $("#CustomerDD").val();
                SaleSummary(FromDate, ToDate, CustomerValue);



            }

        })

        $("#ToDate").change(function () {
            debugger
            var ToDate = $(this).val();
            var FromDate = $("#FromDate").val();

            if (FromDate != "" && ToDate != "") {

                var d = new Date(FromDate);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();

                var monthName = GetMonthName(month);

                var FromDateFormat = day + "-" + monthName + "-" + year;


                var d1 = new Date(ToDate);
                var day1 = d1.getDate();
                var month1 = d1.getMonth() + 1;
                var year1 = d1.getFullYear();

                var monthName1 = GetMonthName(month1);
                var ToDateFormat = day1 + "-" + monthName1 + "-" + year1;


                $("#DateToView").html('<h3><span id="FromDateView">Summary From: ' + FromDateFormat + ' </span> <span> to</span> <span id="ToDateView">' + ToDateFormat + ' </span></h3>');


                FromDateGlobal = FromDate;  
                ToDateGlobal = ToDate;

                var CustomerValue = $("#CustomerDD").val();


                SaleSummary(FromDate, ToDate, CustomerValue);

            }

        })//End of ToDate



        $("#PrintNotes").click(function () {

            var divToPrint = document.getElementById('DivToPrint');
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><head><style>td,th{text-align:center;} .detailscolumn{ display:none; }</style></head><body onload="window.print()">' + divToPrint.outerHTML + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);

        })//print notes

    }) //end of document ready 



    function SaleSummary(FromDate, ToDate, CustomerName) {

        //   alert(FromDate + " " + ToDate);


        $("#SaleReport").html("");

        $.ajax({
            type: "POST",
            url: "/Sales/GetSaleSummary",
            data: { "FromDate": FromDate, "ToDate": ToDate, "CustomerName": CustomerName },

            success: function (data) {

                $("#SaleReport").html("");

                var GrandTotal = 0;
                var DiscountTotal = 0;
                var GrandTotalDiscounted = 0;


                $.each(data, function (index) {


                    var value = new Date(parseInt(data[index].DateTime.replace(/(^.*\()|([+-].*$)/g, '')));
                    var dat = value.getMonth() +
                        1 +
                        "/" +
                        value.getDate() +
                        "/" +
                        value.getFullYear();

                    GrandTotal = GrandTotal + data[index].Total;
                    DiscountTotal = DiscountTotal + data[index].Discount;
                    GrandTotalDiscounted = GrandTotalDiscounted + data[index].DiscountedPrice;

                    var Cashier = data[index].Cashier;
                    if (data[index].Cashier == null) {
                        Cashier = "The_Bismarck";
                    }


                  //  $("#SaleReport").append("<tr> <td >" + dat + "</td><td>" + data[index].OrderNo + "</td><td>" + data[index].CustomerName + "</td><td>" + data[index].Status + "</td><td>" + data[index].Total + "</td><td>" + data[index].DiscountType + "</td><td>" + data[index].DiscountPercentage + "%</td><td>-" + data[index].Discount + "</td><td>" + data[index].DiscountedPrice + "</td> <td class='detailscolumn'><center> <input onclick='OrderDetails(" + data[index].Id + ")' type='button' style='font-size:12px;' class='btn btn-primary  white' value='Details' id='" + data[index].Id + "' ></center></td></tr>");

                    if (data[index].Status == 'Paid') {
                        $("#SaleReport").append("<tr> <td >" + dat + "</td><td>" + data[index].OrderNo + "</td><td>" + data[index].CustomerName + "</td> <td>" + Cashier + "</td><td>" + data[index].Status + "</td><td>" + data[index].Total + "</td><td>" + data[index].DiscountType + "</td> <td>" + data[index].SaleType + "</td><td>" + data[index].DiscountPercentage + "%</td><td>-" + data[index].Discount + "</td><td>" + data[index].DiscountedPrice + "</td> <td class='detailscolumn'><center> <input onclick='OrderDetails(" + data[index].Id + ")' type='button' style='font-size:12px;' class='btn btn-primary  white' value='Details' id='" + data[index].Id + "' ></center></td></tr>");
                    }
                    else {
                        $("#SaleReport").append("<tr> <td >" + dat + "</td><td>" + data[index].OrderNo + "</td><td>" + data[index].CustomerName + "</td> <td>" + Cashier + "</td><td>" + data[index].Status + "</td><td>" + data[index].Total + "</td><td>" + data[index].DiscountType + "</td><td>" + data[index].SaleType + "</td><td>" + Math.abs(data[index].DiscountPercentage) + "%</td><td>" + Math.abs(data[index].Discount) + "</td><td>" + data[index].DiscountedPrice + "</td> <td class='detailscolumn'><center> <input onclick='OrderDetails(" + data[index].Id + ")' type='button' style='font-size:12px;' class='btn btn-primary  white' value='Details' id='" + data[index].Id + "' ></center></td></tr>");

                    }
                })

              //  $("#SaleReport").append("<tr> <td >Grand Total</td> <td></td><td></td>   <td></td><td></td><td></td> <td>" + GrandTotal + "</td><td>" + DiscountTotal + "</td><td>" + GrandTotalDiscounted + "</td></tr>")
                $("#SaleReport").append("<tr> <td >Grand Total</td> <td></td><td></td> <td></td>   <td></td><td>" + GrandTotal + "</td><td></td><td></td><td></td> <td> -" + Math.abs(DiscountTotal) + "</td><td>" + GrandTotalDiscounted + "</td></tr>")



                var AllTds = $("td:nth-child(6),td:nth-child(10),td:nth-child(11)");

                for (var i = 0; i < AllTds.length; i++) {

                    var CommaSeparatedValue = numberWithCommas(AllTds[i].innerHTML);

                    AllTds[i].innerHTML = CommaSeparatedValue;
                }

            }
        })

    }//sale summary


    function OrderDetails(OrderId) {

        window.location.href = "/Sales/ViewSaleOrderDetails?id=" + OrderId;

    }

    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }

    function numberWithCommas(x) {
        debugger
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
