@model IEnumerable<SEA_Application.Models.NotesStock>
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


<script>
    $(document).ready(function () {
        var table = $('#datatable').dataTable({
            buttons: [
                {
                    text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                },
                {
                    text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Add Stock</span>',
                    action: function (e, dt, button, config) {
                        window.location.href = '/AspnetNotes/NotesStockCreate';
                    }
                },
                {
                    text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                },
                {
                    text: '<span class="datatableButtonsDownload">  Stock Summary</span>',
                    action: function (e, dt, button, config) {
                        window.location.href = '/AspnetNotes/StockDetails';
                    }
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });




        $("#PageHeader").html("Notes Stock");




        //$('.table').on('click', 'tbody tr', function () {
        //    var td = $(this).children("td");
        //    var userName = $(td[0]).children("input").val();
        //    userName = userName.trim();

        //    window.location.href = "/AspNetSession/Details?id=" + userName;
        //});

    });



</script>



<style>
    #datatable_filter {
        display: block !important;
    }
</style>



<div class="card">
    <div class="card-body p-4">

        <div class="box box-primary">
            <div class="box-title"></div>

            <div class="box-body">

                <div class="table-responsive">
                    <table class="table hover table-bordered table-striped" id="datatable">
                        <thead>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Date
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                        <input type="hidden" value="@item.Id" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>