
@{
    ViewBag.Title = "ViewSaleOrderDetails";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>

    th, td {
        padding: 5px;
    }

</style>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />


<div class="card">
    <div class="card-body p-4">

        <input type="hidden" name="name" id="PurchaseOrderId" value="@ViewBag.PurchaseOrderId" />

        <table class="table table-bordered table-striped table-hover">

            <thead>

                <tr>
                    <th>Product Name</th>
                    <th>Vendor Name</th>
                    
                    <th>Quantity</th>
                    
                </tr>

            </thead>

            <tbody id="tbody">
            </tbody>


        </table>

    </div>
</div>



<script>

    $(document).ready(function () {

        var PurchaseOrderId = $("#PurchaseOrderId").val();

        $("#PageHeader").html("Order Details");


        $.ajax({
            type: "POST",
            url: "/Inventory/GetPurchasedOrderDetails",
            data: { 'id': PurchaseOrderId },
            success: function (data) {
                //  table.fnClearTable();

              //  var Status = data.Status;
                //var StudentNameAndRollNo = data.StudentName;
                //var DateAndTime = data.DateTime;
                //var Total = data.Total;
                //var Discount = data.Discount;
                //var DiscountedPrice = data.DiscountedPrice;
                ////var OrderNo = data.OrderNo;
                //var OrderNo = "Order#" + data.OrderNo;
                //var SaleOrderId = data.Id;

                var GrandTotal = data.GrandTotal;

                var StockList = data.StockList;
                //alert(SaleDetailList);


                //var value = new Date(parseInt(data.DateTime.replace(/(^.*\()|([+-].*$)/g, '')));
                //var dat = value.getDate()
                //    +
                //    "-" +
                //    (value.getMonth() + 1) +
                //    "-" +
                //    value.getFullYear() + " " + value.getHours() + ":" + value.getMinutes() + ":" + value.getSeconds();


              //  var DiscountRow = "<tr>  <td style='word-break:break-all;' class='description'>Discount</td>  <td class='quantity'>&nbsp; </td> <td class='price'></td> <td class='Amount'>&nbsp;&nbsp; -" + Discount + "</td> </tr>";
                //var DiscountedRow = "<tr>  <td style='word-break:break-all;' class='description'>Total</td>  <td class='quantity'>&nbsp; </td> <td class='price'></td> <td class='Amount'>&nbsp;&nbsp;" + DiscountedPrice + "</td> </tr>";

                var TableRow = "";


                $.each(StockList, function (index) {

                    // alert(SaleDetailList[index].InventoryName);

                    $("#tbody").append("<tr><td>" + StockList[index].ProductName + "</td><td>" + StockList[index].VendorName + "</td><td>" + StockList[index].Quantity + "</td></tr>");

                    //  table.fnAddData([data[index].OrderNo, dat, data[index].StudentName, data[index].Status, data[index].Discount, data[index].DiscountedPrice, "<input type='button' class='btn btn-sm btn-primary' style='color:white !important' value='View Details' onclick='OrderDetails(" + data[index].Id + ")'> "]);


                  //  TableRow = TableRow + "<tr>  <td class='description'>" + SaleDetailList[index].InventoryName + "</td> <td class='quantity' > &nbsp;&nbsp;&nbsp;&nbsp; " + SaleDetailList[index].Quantity + "</td> <td  class='price'>" + SaleDetailList[index].UnitSalePrice + "</td>  <td   class='Amount' >&nbsp; " + SaleDetailList[index].Cost + "</td></tr>";


                });




              //  $("#tbody").append("<tr><td></td><td></td><td>Discount</td><td>-" + Discount + "</td></tr>");
                //$("#tbody").append("<tr><td></td><td></td><td>Discounted Price</td><td>" + DiscountedPrice + "</td></tr>");

                // SaleDetailList = null;
                //var keyCount = Object.keys(SaleDetailList).length;

                //if (keyCount > 0) {

                //    $("table").after("<button onclick='PrintReceipt()'  class='btn btn-primary btn-sm'> Receipt</button>");

                //}

                var AllTds = $("td");

                for (var i = 0; i < AllTds.length; i++) {

                    var CommaSeparatedValue = numberWithCommas(AllTds[i].innerHTML);

                    AllTds[i].innerHTML = CommaSeparatedValue;
                }


                //  table.fnDraw();

            }//end of success method
        });


    })//end of document ready



    function numberWithCommas(x) {
        debugger
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }


</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
